<%- include("partials/header") %>
    <!-- CAROUSEL RIDES HERO-SECTION -->
    <section class="container-fluid landing-page">
        <div class="row hero justify-content-center">
            <div class="col-lg-4 col-10 col-sm-10 align-self-center" data-aos="fade-right" data-aos-duration="1500">
                <div class="hero-info">
                    <p>New Designs 2022</p>
                    <h1>Trust Me Decor</h1>
                    <h4>Occasion Made Better</h4>
                    <a href="#EXPERIENCE" class="hero-btn btn btn-outline-dark btn-stretch btn-sm  py-1 px-4 ">VIEW ALL</a>

                </div>
            </div>
            <div class="col-lg-5 col-10 col-sm-10 align-self-center" data-aos="fade-left" data-aos-duration="1500">
                <img class="img-fluid home-img landing" src="/images/l8.png" alt="">
            </div>
        </div>
    </section>
    <!--Service-Section-start-->
    <section class="d-flex pt-3 pb-3 justify-content-center ">
        <h2 data-aos="slide-up" data-aos-duration="1500" class="experience">Experiences</h2>
    </section>

    <div class="container-fluid">
        <div id="EXPERIENCE" class="row justify-content-center " data-aos="slide-up" data-aos-duration="1500">
            <div class="col-lg-3 col-md-3 col-10 align-self-center mt-4">
                <a href=" /services/<%=products[0].id%>">
                    <div class="card product-card">
                        <div class="card-img ">
                            <img src="Resources/1/1.jpg" alt=" ">
                        </div>
                        <div class="card-body">
                            <h6>Happy Birthday surprise</h6>
                            <h5>₹ 1299 </h5>
                            <div class="box pt-4">
                                <li class="pt-2">Happy birthday foil balloon in Gol..</li>
                                <li class="pt-1">80 Balloons [Black and Golden]</li>
                                <li class="pt-1">Please provide a ladder & chair</li>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-10 align-self-center mt-4">
                <a href=" /services/<%=products[1].id%>">
                    <div class="card product-card">
                        <div class="card-img ">
                            <img src="Resources/2/1.jpg " alt=" ">
                        </div>
                        <div class="card-body ">
                            <h6>Blue Birthday Decor</h6>
                            <h5>₹ 1499 </h5>
                            <div class="box pt-4 ">
                                <li class="pt-2 ">120 balloons (light blue, dark ... </li>
                                <li class="pt-1 ">Happy Birthday foil balloon in..</li>
                                <li class="pt-1 ">4 Blue heart shape foil balloon</li>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-10 align-self-center mt-4">
                <a href=" /services/<%=products[2].id%>">
                    <div class="card product-card">
                        <div class="card-img ">
                            <img src="Resources/3/1.jpg " alt=" ">
                        </div>
                        <div class="card-body ">
                            <h6>Multi-Color Pastel Balloon Decor</h6>
                            <h5>₹ 1799 </h5>
                            <div class="box pt-4 ">
                                <li class="pt-2 ">150 multi color Pastel balloons </li>
                                <li class="pt-1 ">Happy Birthday foil balloon in..</li>
                                <li class="pt-1 ">18 printed photos</li>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-10 align-self-center mt-4">
                <a href=" /services/<%=products[3].id%>">
                    <div class="card product-card">
                        <div class="card-img ">
                            <img class="special-img" src="Resources/4/1.jpg " alt=" ">
                        </div>
                        <div class="card-body ">
                            <h6> Unicorn Kitty Balloon Bouquet</h6>
                            <h5>₹ 699 </h5>
                            <div class="box pt-4 ">
                                <li class="pt-2 ">1 Unicorn Kitty foil balloon</li>
                                <li class="pt-1 ">1 Rainbow Foil balloon </li>
                                <li class="pt-1 ">8 Balloons [Pink & White]</li>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-3 col-10 align-self-center mt-4" data-aos="slide-up" data-aos-duration="1500">
                <a href=" /services/<%=products[4].id%>">
                    <div class="card product-card">
                        <div class="card-img ">
                            <img class="special-img " src="Resources/5/1.jpg " alt=" ">
                        </div>
                        <div class="card-body ">
                            <h6>Blue and Silver Theme Birthday</h6>
                            <h5>₹ 1399 </h5>
                            <div class="box pt-4 ">
                                <li class="pt-2 ">120 Silver and Blue Balloons </li>
                                <li class="pt-1 ">40 balloons of wall in the form..</li>
                                <li class="pt-1 ">30 balloons free floating on floor</li>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
            <div class="col-lg-3 col-md-3 col-10 align-self-center mt-4" data-aos="slide-up" data-aos-duration="1500">
                <a href=" /services/<%=products[5].id%>">
                    <div class="card product-card">
                        <div class="card-img ">
                            <img src="Resources/6/1.jpg " alt=" ">
                        </div>
                        <div class="card-body ">
                            <h6>Pink and Silver Theme</h6>
                            <h5>₹ 1399 </h5>
                            <div class="box pt-4 ">
                                <li class="pt-2 ">60 balloons (Pink and silver)</li>
                                <li class="pt-1 ">1 fairy light</li>
                                <li class="pt-1 ">1 happy birthday foil balloon</li>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-10 align-self-center mt-4" data-aos="slide-up" data-aos-duration="1500">
                <a href=" /services/<%=products[6].id%>">
                    <div class="card product-card">
                        <div class="card-img ">
                            <img src="Resources/7/1.jpg " alt=" ">
                        </div>
                        <div class="card-body ">
                            <h6> Red&White Balloon With Photo's</h6>
                            <h5>₹ 1599 </h5>
                            <div class="box pt-4 ">
                                <li class="pt-2 ">150 Red & white balloons </li>
                                <li class="pt-1 ">24 Printed photo's</li>
                                <li class="pt-1 ">Please provide a ladder & chair</li>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-10 align-self-center mt-4" data-aos="slide-up" data-aos-duration="1500">
                <a href=" /services/<%=products[7].id%>">
                    <div class="card product-card">
                        <div class="card-img ">
                            <img class="special-img " src="Resources/8/1.jpg " alt=" ">
                        </div>
                        <div class="card-body ">
                            <h6>Golden Theme Decoration</h6>
                            <h5>₹ 1799 </h5>
                            <div class="box pt-4 ">
                                <li class="pt-2 ">2 Silver star shape foil balloon, 2..</li>
                                <li class="pt-1 ">50 Balloons (Black & Golden)</li>
                                <li class="pt-1 ">1 Fairy light</li>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row last-row justify-content-lg-start justify-content-sm-center ">
            <div class="last-coloumn col-lg-3 col-md-3 col-10 align-self-lg-start mt-4 align-self-sm-center" data-aos="slide-up" data-aos-duration="1500">
                <a href="/services/<%=products[8].id%>">
                    <div class="card product-card">
                        <div class="card-img ">
                            <img src="Resources/9/1.jpg " alt=" ">
                        </div>
                        <div class="card-body ">
                            <h6>Balloon Decoration on Ceiling</h6>
                            <h5>₹ 1999 </h5>
                            <div class="box pt-4 ">
                                <li class="pt-2 ">200 balloon on ceiling with ribbon </li>
                                <li class="pt-1 ">Colours of your choice</li>
                                <li class="pt-1 ">Please provide ladder & chair</li>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="last-coloumn col-lg-3 col-md-3 col-10 align-self-start mt-4" data-aos="slide-up" data-aos-duration="1500">
                <a href=" /services/<%=products[9].id%>">
                    <div class="card product-card">
                        <div class="card-img ">
                            <img src="Resources/10/1.jpg " alt=" ">
                        </div>
                        <div class="card-body ">
                            <h6>Glowing Lantern Decoration</h6>
                            <h5>₹ 1999</h5>
                            <div class="box pt-4 ">
                                <li class="pt-2 ">10 paper larntern (White)</li>
                                <li class="pt-1 ">5 fairy light</li>
                                <li class="pt-1 ">Please provide ladder & chair</li>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="last-coloumn col-lg-3 col-md-3 col-10 align-self-start mt-4" data-aos="slide-up" data-aos-duration="1500">
                <a href="/services/<%=products[10].id%>">
                    <div class="card product-card">
                        <div class="card-img ">
                            <img class="special-img " src="Resources/11/1.jpg " alt=" ">
                        </div>
                        <div class="card-body ">
                            <h6>Baby Shower Theme Decoration</h6>
                            <h5>₹ 3499 </h5>
                            <div class="box pt-4 ">
                                <li class="pt-2 ">Arch of 250 balloons {70 Latex Lem...</li>
                                <li class="pt-1 ">3 Green Frills Curtain</li>
                                <li class="pt-1 ">1 Baby boy/Girl Foil balloon, 2 Bl...</li>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="last-coloumn col-lg-3 col-md-3 col-10 align-self-start mt-4" data-aos="slide-up" data-aos-duration="1500">
                <a href="/services/<%=products[11].id%>">
                    <div class="card product-card">
                        <div class="card-img ">
                            <img class="special-img" src="Resources/12/1.jpg " alt=" ">
                            <!--Fix the image of this card product-card-in the end-->
                        </div>
                        <div class="card-body ">
                            <h6>Blue Balloon Bouquet</h6>
                            <h5>₹ 799 </h5>
                            <div class="box pt-4 ">
                                <li class="pt-2 ">3 Blue star shape foil balloon</li>
                                <li class="pt-1 ">2 Blue confetti balloon</li>
                                <li class="pt-1 ">10 balloon [light blue & dark blue]</li>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row last-row justify-content-lg-start justify-content-sm-center ">
            <div class="last-coloumn col-lg-3 col-md-3 col-10 align-self-lg-start mt-4 align-self-sm-center" data-aos="slide-up" data-aos-duration="1500">
                <a href="/services/<%=products[12].id%>">
                    <div class="card product-card">
                        <div class="card-img ">
                            <img class="special-img" src="Resources/13/1.jpg " alt=" ">
                            <!--Fix the image in the end-->
                        </div>
                        <div class="card-body ">
                            <h6>Mickey Mouse Balloon Bouquet</h6>
                            <h5>₹ 699 </h5>
                            <div class="box pt-4">
                                <li class="pt- ">1 Mickey Mouse Foil Balloon </li>
                                <li class="pt- ">3 Blue star shape foil balloon </li>
                                <li class="pt- ">15 Balloons [Light blue & dark blue]</li>
                            </div>
                        </div>
                    </div>
                </a>
            </div>


        </div>
    </div>
    <!-- SERVICES-SECTION -END -->





    <%- include("partials/footer") -%>